/* left side css */

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 20px;
  padding: 110px 10px 10px 10px;

  z-index: 100;
}

.header-title {
  font-size: 30px;
  line-height: 40px;

  max-width: 350px;
}
.header-title span {
  color: #02ff84;
  text-decoration: underline 1px;
}
.header-title + p {
  font-size: 12px;
  color: rgb(233, 230, 230);
  line-height: 24px;

  max-width: 350px;
}

/* buttons */

.buttons-div {
  display: flex;
  gap: 10px;

  margin-bottom: 50px;
}

.join-for-free-button {
  padding: 10px 20px;
  font-size: 12px;
  color: white;

  border: none;
  border-radius: 5px;

  background-color: #6440f9;
}
.find-courses-button {
  padding: 10px 20px;
  font-size: 12px;

  background-color: inherit;

  color: #0af280;

  border: 2px solid #0af280;
  border-radius: 5px;
}

/*  */

/* bottom side div css */

.bottom-side-div {
  display: flex;
  align-items: center;
  font-size: 12px;

  gap: 18px;
}

.bottom-side-info-div {
  display: flex;
  align-items: center;

  gap: 8px;
}

.bottom-side-img {
  width: 20px;
}
